.modal-container {
  position: relative;
  display: inline-block;
}
.ant-btn.ant-btn-circle.ant-btn-lg {
  position: absolute;
  z-index: 10;
  background-color: #d5c7a3 !important;
  color: white;
  border: none;
}
.download {
  position: absolute;
  z-index: 10;
  background-color: #d5c7a3 !important;
  color: white;
  border: none;
}
.download:hover,
.ant-btn.ant-btn-circle.ant-btn-lg:hover {
  background-color: black !important;
  color: white !important;
}

.modal-img {
  max-width: 90vw;
  max-height: 80vw;
  object-fit: contain;
  border-radius: 8px;
}
