@font-face {
  font-family: "Pin Sans";
  src: url("./assets/fonts/Pin-Sans-MacOS-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Pin Sans", sans-serif;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
body {
  background-color: #f6f0f0;
  min-height: 100vh;
}
.App {
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 20px;
  background-color: #f6f0f0;
  box-sizing: border-box;
}
.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-btn {
  position: relative;
}
.dark-mode .toggle-btn {
  background-color: #d5c7a3 !important;
  color: #181c14;
  transition: all 0.3s ease;
}
.dark-mode button {
  color: #181c14 !important;
}

/* Search bar */
.App input {
  padding: 8px 12px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #bdb395;
  border-radius: 6px;
  outline: none;
  margin-bottom: 20px;
}

.App button {
  margin-left: 10px;
  padding: 8px 14px;
  font-size: 16px;
  border: none;
  background-color: #d5c7a3;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.App button:hover {
  background-color: #d5c7a3;
}

.loading {
  font-size: 24px;
  font-weight: bold;
  color: #bdb395;
  text-align: center;
}

.carousel-slide {
  display: flex !important;
  justify-content: center;
  gap: 10px;
}

.slick-next,
.slick-prev {
  color: #181b16 !important;
  border: none !important;
}
.dark-mode .slick-next,
.dark-mode .slick-prev {
  color: #f2e2b1 !important;
}
.slick-next {
  right: -25px !important;
}
.slick-prev {
  left: -25px !important;
}
.slick-next:hover,
.slick-prev:hover {
  background-color: transparent !important;
}
.ant-carousel .slick-dots li button {
  background-color: #181b16 !important;
}
.ant-carousel .slick-dots-bottom {
  bottom: -30px !important;
}

.top-elements {
  padding-left: 40px;
  padding-right: 40px;
}
